body{
    margin: 0;
 }
.svg_icons {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
.delete{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.clock{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.smiley{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.svg_external {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
.face{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}